*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--color-neutral-light: #EFF0F1;
	--color-neutral-medium: #878B90;
	--color-neutral-dark: #181818;

	--color-white: #fff;
	--color-black: #000;

	--header-height: 3rem;
}







body {
	margin: 0;
	font-size: 100%;
	font-family:  Montserrat, sans-serif;
	color: 
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Patua One', cursive;
	color: var(--color-neutral-dark);
}

h1{
	font-size: 60px;
}
h2{
	font-size: 50px;
}
h3{
	font-size: 40px;
}
h4{
	font-size: 30px;
}
h5{
	font-size: 20px;
}
h6{
	font-size: 15px;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration:  underline;
}


.landingpage {
	width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -30px;
}
.push {
  height: 30px;
}

.enter {
	margin-left: 1050px;
	font-size: 1.2em;
	font-weight: bolder;
	color: var(--color-main-medium)
}


/*  img classes */

.logo {
	width: 70px;
	padding-top: 15px;
}


/*  layout classes */
.container {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;

}
.hidden {
	display: none;
}


.display-flex{ display:flex; }
.display-block { display:block; }
.display-inline-flex { display: inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items: center; }
.flex-justify-center { justify-content: center; }



/* component classes */
.nav ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}


.navbar {
	background-color: var(--color-main-medium);
	color: var(--color-neutral-light);
	line-height: var(--header-height);
}
.navbar h1 {
	font-size: 1em;
    font-family:  Montserrat, sans-serif;
    font-weight: bold;
	margin: 0;
}
.navbar a {
	padding: 0 0.5em;
}
.nav a {
	display: block;
	padding: 0.2em 0.5em;
}
	.nav a:hover {
		background-color: var(--color-main-medium) ;
	}


	.nav.crumbs ul,
	.nav.pills ul,
	.nav.stretch ul,
	.nav.flex ul {
		display: flex;
	}

	.nav.stretch li{
		flex: 1 1 auto;
		text-align: center;
		font-size: 1.5em;
    	font-family:  Patua One, sans-serif;
    	font-weight: bold;
    	background-color: var(--color-main-medium);
		color: var(--color-neutral-dark);
		line-height: 2.8em;
}

	}

	.nav.pills a{
		border-radius: 2em;
		padding: 0.5em;
	}

	.nav.crumbs a:hover{
		background-color: transparent;
		color: inherit;
		text-decoration: underline;
	}
	.nav.crumbs li:not(:first-child)::before {
		content: '→ ';
		font-family:  Montserrat, sans-serif;
	}




.view-window {
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 70vh;
}


.card {
	background-color: var(--color-neutral-light));
	padding: 1em;
	margin-top: 1em;
	margin-bottom:  1em;

	position: relative;
	overflow: hidden;
}
	.card.soft {
		border-radius:  0em;
		box-shadow:  0 0 10px rgba(254,33,56,0.1);
	}
	.card.hard {
		border-radius: 0em;
		border: 3px solid var(--color-neutral-dark);
		background-color: var(--color-main-medium);
	}
	.card.dark {
		border-radius: 0em;
		background-color: var(--color-neutral-dark);
		color: var(--color-white);
		box-shadow:  0 0 10px rgba(24,24,24,0.7);
	}
	.card.medium {
		border-radius: 0em;
		background-color: var(--color-neutral-medium);
		box-shadow:  0 0 13px rgba(24,24,24,0.3);
	}
	.card.light {
		border-radius: 0em;
		background-color: var(--color-neutral-light);
		
	}
	.card.flat {
		padding: 0;
	}
	.card-section~.card-section {
		border-top: 1px solid var(--color-neutral-light);
	}

	.well {
		background-color: --color-white
		padding: 0.5em;
		border-radius:  0.5em;
	}
	.well.well {
		}

p::first-letter {
	margin-left: 2em;
}

code {
	white-space: pre-wrap;
	display: block;
}

/* tables */


.table {
	width: 100%;
	border-collapse: collapse;
}
.table td,
.table th {
	text-align: left;
	padding: 0.2em 0.5em;
}

.table.lined.all tbody tr,
.table.lined.horizontal tbody tr {
	border-top: 4px solid var(--color-neutral-dark);

}
.table.lined.all th:not(:first-child),
.table.lined.all td:not(:first-child),
.table.lined.vertical th:not(:first-child),
.table.lined.vertical td:not(:first-child) {
	border-left: 3px solid var(--color-neutral-dark);
}

.table.lined.all,
.table.lined.border {
border: 4px solid var(--color-neutral-dark);
box-shadow: 0 0 0 2px rgba(239,240,241,1),0 0 0 5px #FE212E;

}
.table.striped tbody tr:nth-child(odd) {
background-color: var(--color-main-light);
}

/* forms */

.form-input {
	display: inline-block;
	width: 100%;
	border-width: 0;
	background-color: transparent;
	font: inherit;
	padding: 0.5em 1em;
	border-bottom: 4px solid var(--color-neutral-dark);
	outline: 0;
}

.form-control {
	margin: 1em 0;
}
.form-label {
	font-size: 0.8em;
	color: var(--color-main-medium);
	font-weight: bold;
}
.btn,
.form-button {
	display: inline-block;
	width: 100%;
	border-width: 0;
	font-size: inherit;
	font-weight: bold;
	border-radius: 0.3em;
	padding: 0.5em 1em;
	background-color: var(--color-main-medium);
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	outline: 0;
	-webkit-appearance: none;
}
.btn:hover,
.form-button:hover {
	text-decoration: none;
}
	.btn.inline {
		width: initial;
	}
	.button.sell {
		background-color: var(--color-purchase)
	}

.hotdog {
	display: inline-flex;
	width: 100%;
	font-size: inherit;
	background-color: var(--color-neutral-light);
	padding: 0.5em 1.5em;
	border-radius: 2em;
	border-width: 0;
	outline: 0;
}
	.hotdog.dark {
		background-color: var(--color-neutral-dark);
		color: var(--color-neutral-light);
	}
	.hotdog input {
		background-color: transparent;
		border-width: 0;
		flex: 1 1 100%;
		outline: 0;
		font: inherit;
	}
.form-select>select {
	padding: 0.5em 1em;
	background-color: var(--color-neutral-light);
	border-width: 0;
	border-radius: 0.3em;
	cursor: pointer;
	-webkit-appearance: none;
	display: inline-block;
	width: 100%;
	font: inherit;
	outline: 0;


}

.form-select {
	position: relative;
}
.form-select::after {
	position: absolute;
	content: '▼';
	font-family:  Montserrat, sans-serif;
	font-size: 0.9em;
	top: 50%;
	transform: translateY(-50%);
	right: 0.3em;
	pointer-events: none;
	color: var(--color-neutral-medium);
}

.icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: text-bottom;
}


/* toggle */

.toggle label {
	display: inline-block;
	width: 2em;
	height: 1em;
	background-color: var(--color-main-medium);
	border: 0.1em solid var(--color-neutral-dark);
	border-radius: 1em;
	position: relative;
	font-size: 1.3em;
}

.toggle label::after {
	content: '';
	position: absolute;
	width: 0.8em;
	height: 0.8em;
	display: inline-block;
	border-radius: 1em;
	background-color: var(--color-white);
	transition: all 0.3s;
	box-shadow: 0 0 2px rgba(0,0,0,0.4);
}
.toggle input:checked + label::after {
	transform: translateX(1em);
}



.footer {
  text-align: center;
  font-size: 0.6em;
  font-family: 'Montserrat';
   position: absolute;
   margin-bottom: 0;
   width: 100%;
   height: 30px; 
   background-color: #EFF0F1; 
   padding-top: 0.7em;

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/
}

