:root {
	--color-neutral-light: #EFF0F1;
	--color-neutral-medium: #878B90;
	--color-neutral-dark: #181818;
	--color-main-light: #FFB9BD;
	--color-main-medium: #FE212E;
	--color-main-dark: #9D1921;

	--color-alt-blue: #e5d7fa;
	--color-alt-green: #6515e2;
	--color-alt-pink: #27055c;

	--color-warning: #ea9310;
	--color-error: #d90c63;
	--color-purchase: #49ec80;
}

body {
	font-family: Montserrat, sans-serif;
	background-color: #f9f9f9;
	padding-bottom: 10em;
}

.view-window>h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.3);
	padding: 1em;
	border-radius: 1em;
	color: #fff;
	font-size:3em;
}

[class*='col-']>,card {
	height: 100%;
	margin: 0;
}

[class*='col-']>,well {
	height: 100%;
}

@media (max-width: 600px) {
	h2{
		font-size: 1em;
	}
}


.product-item {
	margin: 0;
	border-radius: 0.7em;
	background-color: #fff;
	box-shadow: 1px 1px 12px rgba(0,0,0,0.2);
	padding: 1em;
	transition: all 0.3s;
	display: block;
	height: 100%;
}

.product-item:hover {
		box-shadow: 0 0 0 2px rgba(239,240,241,1),0 0 0 5px rgba(0,0,0,1);
		background-color: var(--color-neutral-light);
		border: 8px solid var(--color-main-medium);
}
.product-item figure {
	margin: 0;
}
.product-image img{
	width: 100%;
}

.product-price
{
	font-weight: normal;
}

.product-title 
{
	font-weight: bold;
}
.product-image {
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 80%;
}
.image-main {
	position: relative;
	overflow: hidden;
	padding-bottom: 60%;
}

.image-main img,
.product-image img {
	position: relative;
	top: 0;
	left: 0;
	width: 100%; 
	height: auto;
	object-fit: cover;
}

.image-thumbs img {
	width: 120px;
	height: 120px;
	object-fit: cover;
}
.navbar {
	margin-bottom: 1em;
}
.card:first-child,
.card-section:first-child {
	margin-top: 0;
}

a:hover .product-item {
	text-decoration: none !important;
}
.product-price {
	font-size:1.2em;
	padding: 0.2em 0.4em;
}



ul{
	list-style: none;
}

.justify-content-spare-around


li {
	margin-right: 20px;
}

li:last-child {
	margin-right: 0px;
}







